/*Start scss */

@import "components/List";
@import "components/Filter";
@import "components/Collections";
@import "components/RichEditor";
@import "components/Navigator";
@import "components/FormInnerEditTable";

.form-input-with-hint-60 {
  input {
    float: left;
    width: 60%;
    margin-right: 10px;
  }
  .help-block {
    display: inline-block;
    line-height: 2;
  }
}

.btn-link {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  body {
    margin-top: 90px;
  }
  #footer {
      margin-left: 0!important;
  }
  #top-nav.collapse-sizebar ~ #footer {
      margin-left: 0!important;
  }
  #top-nav.collapse-sizebar + #page-wrapper {
    margin-left: 0!important;
  }
}
