body {
    background-color: #C0C0C0;
    font-family: Roboto, sans-serif;
    padding-bottom: 70px;
}

/* temp Overide bootstrap CSS*/
label {
    font-weight: normal;
}
/* temp Overide bootstrap CSS*/

[class^="muidocs-icon-"], [class*=" muidocs-icon-"] {
	font-family: 'material-ui-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.required{
  color: red!important;
}
.footer {
    background-color: #272A39!important;
    padding: 20px 0;
}
.footer > .container > p {
    color: white!important;
    font-weight: bold;
}
.topbar{
  padding:5px 20px!important;
}
.main-content{
  min-height: 100%;
  background-color: white;
}
.contents {
    background-color: white;
    padding: 20px;
}

.navigator {
    background-color: white;
    height: 70px;
}
.navigator a.active button {
    background: #E3E8EB!important;
}
.navigator button {
  height: 70px!important;
}
.help-popover {
    padding: 10px!important;
}

.imported-reason-title {
    font-weight: bold;
}
