body {
    margin-top: 50px;
}
html {
    font-size: 12px;
}
/* Global */
textarea {
  resize: vertical;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.3;
}
.clickable {
  cursor: pointer;
}
.movable {
    cursor: move;
}
.non-editable-field{
  line-height: 32px;
}
.actions button.btn-sm {
    padding: 9px 12px;
}
.inline {
  display: inline-block;;
}
.td-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.td-actions {
  width:1%;
  white-space:nowrap;
}

.pl0{ padding-left: 0!important; }
.pr0{ padding-right: 0!important; }
.mt10{ margin-top: 10px!important; }
.mr10{ margin-right: 10px!important; }
.mb10{ margin-bottom: 10px!important; }
.ml10{ margin-left: 10px!important; }
.mt0{ margin-top: 0!important; }
.mr0{ margin-right: 0!important; }
.mb0{ margin-bottom: 0!important; }
.ml0{ margin-left: 0!important; }

.full-width{ width: 100%!important; }

/* General colors */
.danger-red { color: #d9534f; }
.disabled {
  color: #6f6f6f;
}
.disabled-bg {
  background-color: #eeeeee;
}
/* ~Global */

/* Main/Top menu */
.navbar-default .dropdown-menu {
  background-color: #EEEEEE;
}
.navbar-default .dropdown-menu>li>a, .navbar-default .dropdown-menu>li>a:focus {
  color: #008cba;
}
.navbar-default .dropdown-menu>li>a:hover,
.navbar-default .dropdown-menu>.active>a,
.navbar-default .dropdown-menu>.active>a:hover{
  text-decoration: none;
  background-color: #eeeeee;
  font-weight: bold;
}
.navbar-brand>img {
  display: inline-block;
}
.navbar-brand .brand-name {
  color: #6f6f6f;
  vertical-align: bottom;
  margin-left: 10px;
  line-height: 14px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.main-menu {
  min-height: 90%;
  position: inherit;
  overflow-y: auto;
}
.main-menu.smallScreenMenu {
  position: static;
  box-shadow: 0px 13px 20px 3px #888;
}
/* ~Main/Top menu */

/* react-datepicker */
.react-datepicker__close-icon::after{
  color: #6f6f6f!important;
  background-color: #e7e7e7!important;
}
.react-datepicker__close-icon:hover::after {
    background-color: #eeeeee!important;
    color: #222222!important;
}
/* React-Select */
.Select-menu-outer{
  z-index: 5!important;
}
.Select-control{
  border-radius: 0!important;
  height: 39px!important;
}
.Select-search-prompt {
  padding: 5px!important;
}
.has-value > .Select-control > .Select-placeholder{
  color: #6f6f6f!important;
}
.Select-item{
  color: #6f6f6f!important;
  background-color: #e7e7e7!important;
  border-color: #dddddd!important;
  border-radius: 0!important;
}
.Select-item-icon{
  border-right: none!important;
}
.Select-item-icon:hover, .Select-item-icon:focus {
    background-color: #eeeeee!important;
    color: #222222!important;
}
.Select-item:hover,.Select-item:focus{
  background-color: #eeeeee!important;
  color: #222222!important;
}
/* ~React-Select */

/* System Alerts */
.alert-notifier-container{
  width: 50%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  padding: 5;
}
.alert-notifier-container .alert {
  margin-bottom: 5px;
}
.alerts-enter {
  opacity: 0.01;
}
.alerts-enter.alerts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.alerts-leave {
  opacity: 1;
}
.alerts-leave.alerts-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* ~ System Alerts */

/* System Progress Ingecator */
.progressindicator-leave.progressindicator-leave-active {
  opacity: 1;
}
.progressindicator-enter {
  opacity: 1;
}
.progressindicator-enter.progressindicator-enter-active {
  opacity: 1;
}
.progressindicator-leave {
  opacity: 1;
}
.progressindicator-leave.progressindicator-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

@keyframes progressindicator-in-progress {
  from {
    width: 0;
  }
  25% {
    width: 25%;
    animation-timing-function: ease-out;
  }
  50% {
    width: 50%;
    animation-timing-function: ease-out;
  }
  75% {
    width: 75%;
    animation-timing-function: ease-out;
  }
  to {
    width: 100%;
    animation-timing-function: ease-out;
  }
}
.system-progress-indecator {
    background-color:#2595ED;
    height:2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    animation-name: progressindicator-in-progress;
    animation-duration: 500ms;
}
/* ~System Progress Ingecator */


/* Mapping block */
.separator {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c3c3c3;
}

/* Plan Edit screen*/
.product-removed {
    color: #cccccc!important;
}
.product-removed small{
  color: #cccccc!important;
}
/* ~Plan Edit screen*/

/* List */
.List.row .btn-link {
    padding: 0;
}
.List .table>thead>tr>th i.sort-indicator {
    float: right;
    line-height: 20px;
}

.List .table th.long-date {
    width: 150px;
}
.List .table th.short-date {
    width: 95px;
}
.List .table th.state {
  width: 60px;
}
.List .table th.list-status-col {
    width: 90px;
}

.List .table th.edit-tb, .List .table td.edit-tb {
    width: 30px;
}

.List.invoices-list form {
    margin-bottom: 0;
}
/* Global page + table */
.page-header {
  border-bottom: none;
  margin: 0;
  color: #6f6f6f;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 14px;
}

.panel-heading .btn-xs{
    margin-top: -2px;
    padding: 2px 4px;
}

.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0px;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
}
/* AdvancedFilter Date picker */
.AdvancedFilter .react-datepicker__input-container{
  width: 100%
}
/* ~AdvancedFilter Date picker */
#page-wrapper{
  margin-bottom: -30px;
  padding-bottom: 40px;
}
#footer {
  height: 30px;
  padding: 5px 0;
  margin-left: 250px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}
#footer p{
  margin: 0;
  color: #424242;
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  cursor: "pointer";
}
.pagination span {
  line-height: 30px;
  font-size: 14px;
  float: left;
}

.draggable-menu{
  background-color: #eee;
  opacity: .7;
}

.panel-no-border {
  border: 0;
  margin: 0;
}
/* Entity Revision */
.entity-revision-history-popover .popover-content{
  padding: 10px 0 0 0;
}
.entity-revision-history-popover .popover-content ul.revision-history-list{
  text-align: center;
}
.entity-revision-history-popover .popover-content hr{
  margin: 7px 0 0 0;
  border-color: #565656;
}
.entity-revision-history-popover .popover-content ul.revision-history-list li.active .date{
  font-weight: bold;
  color: white;
}
.entity-revision-history-popover .popover-content ul.revision-history-list li.active .cycle {
  border-color: white;
}

.entity-revision-history-popover .popover-title {
  border-bottom: 1px solid #565656;
}
.entity-revision-history-popover {
  max-width: none;
}
.cycle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #91A384;
  margin: 0 auto;
}
.cycle.option {
  display: inline-block;
  vertical-align: text-top;
}
.cycle.expired {
  background-color: #BDCCD4;
}
.cycle.future {
  background-color: #FF931E;
}
.cycle.active {
  background-color: #7AC943;
}
.cycle.all {
  background: radial-gradient(closest-side, #7AC943, #FF931E, #BDCCD4);
}
ul.revision-history-list  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
ul.revision-history-list li {
  width: 50px;
  display: inline-block;
  text-align: center;
  position: relative;
}
ul.revision-history-list li.more {
  width: 20px;
}
ul.revision-history-list li.more::after {
  border-bottom: 2px dotted #91A384;
  width: 15px;
  left: 23px;
}
ul.revision-history-list li.closed::after {
  width: 34px;
  left: -18px;
  top: 8px;
}
ul.revision-history-list li.more.after::after {
  left: -15px;
}
ul.revision-history-list li .cycle {
  margin-bottom: 3px;
}
ul.revision-history-list li .date {
  text-align: center;
}

ul.revision-history-list li::after {
  content: "\0020";
  position: absolute;
  top: 7px;
  left: 32px;
  border-bottom: 2px solid #91A384;
  width: 36px;
}
ul.revision-history-list li.last::after {
  content: "";
  width: 0;
  border-bottom: none;
}
ul.revision-history-list li.active .date{
  font-weight: bold;
  color: black;
}
ul.revision-history-list li.active .cycle {
  border-color: black;
}
.entity-revision-edit ul.revision-history-list li .date {
  color: #6f6f6f;
}
.entity-revision-edit ul.revision-history-list li.more::after {
  top: 10px;
}

.move-modal ul.revision-history-list li {
  opacity: 0.5;
}
.move-modal ul.revision-history-list li.active {
  opacity: 1;
}
/* ~Entity Revision */

.discount-setup .help-block {
  margin-bottom: 0;
}

#move-entity .nav-tabs li,
#move-entity .nav-pills li {
  width: 50%;
  text-align: center;
  background-color: #eeeeee;
}
#move-entity .nav-pills>li+li {
     margin-left: 0;
}
#move-entity .nav-pills li.disabled {
  cursor: not-allowed;
}

.delimiter-select {
  width: 150px;
}

/* Reports */
.report-setup .CustomFilter .action button{
  height: 39px;
}
.report-setup .CustomFilter .react-datepicker__input-container {
  width: 100%;
}
/* ~Reports */

/* Chart */
.dashboard-chart-wrapper {
  height: 280px;
  overflow: hidden;
}
.doughnut-wrapper {
  position: relative;
  height: 230px;
}
.chart-doughnut-details .details{
  margin-top: -10px;
}
.doughnut-message {
  position: absolute;
  color: #7C7C7C;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.percentBarChart {
  margin: 0 10px;
}

.percentBarChart .marker {
  position: absolute;
  color: white;
  margin-top: 5px;
  padding: 0 5px;
  background-color: #388E3C;
  opacity: .8;
}
.percentBarChart .marker.negative {
  background-color: #D32F2F;
}
.percentBarChart .marker:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #388E3C;
  border-width: 6px;
  margin-left: -6px;
}
.percentBarChart .marker.negative:after {
  border-bottom-color: #D32F2F;
}
.percentBarChart .diff {
  color: #388E3C;
}
.percentBarChart .diff.negative {
  color: #D32F2F;
}
.percentBarChart .legend {
  background-color: black;
  color: white;
  padding: 1px 4px;
  margin-right: 3px;
}
.percentBarChart .details {
  position: relative;
  height: 120px;
  margin-top: 50px;
}
.chart-doughnut-details .details {
  position: relative;
}
.percentBarChart .details-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.percentBarChart .details-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.chart-doughnut-details .details-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -15px;
}
.chart-doughnut-details .details-left  {
  position: absolute;
  top: 0;
  left: 0;
  color: #7C7C7C;
  margin-top: 0;
}
.percentBarChart .value {
  color: #7C7C7C;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* ~Chart */
