body {
    margin-top: 50px;
}
html {
    font-size: 12px;
}
/* Global */
textarea {
  resize: vertical;
}
.actions button.btn-sm {
    padding: 9px 12px;
}
.td-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pl0{ padding-left: 0!important; }
.pr0{ padding-right: 0!important; }
.mb10{ margin-bottom: 0!important; }
.mr10{ margin-right: 10px!important; }

.full-width{ width: 100%!important; }

/* General colors */
.danger-red { color: #d9534f; }
/* ~Global */

/* Main/Top menu */
.navbar-default .dropdown-menu {
  background-color: #EEEEEE;
}
.navbar-default .dropdown-menu>li>a, .navbar-default .dropdown-menu>li>a:focus {
  color: #008cba;
}
.navbar-default .dropdown-menu>li>a:hover,
.navbar-default .dropdown-menu>.active>a,
.navbar-default .dropdown-menu>.active>a:hover{
  text-decoration: none;
  background-color: #eeeeee;
  font-weight: bold;
}
.navbar-brand>img {
  display: inline-block;
}
.navbar-brand .brand-name {
  color: #6f6f6f;
  vertical-align: bottom;
  margin-left: 10px;
  line-height: 14px;
}
/* ~Main/Top menu */

/* react-datepicker */
.react-datepicker__close-icon::after{
  color: #6f6f6f!important;
  background-color: #e7e7e7!important;
}
.react-datepicker__close-icon:hover::after {
    background-color: #eeeeee!important;
    color: #222222!important;
}
/* React-Select */
.Select-menu-outer{
  z-index: 5!important;
}
.Select-control{
  border-radius: 0!important;
  height: 39px!important;
}
.Select-search-prompt {
  padding: 5px!important;
}
.has-value > .Select-control > .Select-placeholder{
  color: #6f6f6f!important;
}
.Select-item{
  color: #6f6f6f!important;
  background-color: #e7e7e7!important;
  border-color: #dddddd!important;
  border-radius: 0!important;
}
.Select-item-icon{
  border-right: none!important;
}
.Select-item-icon:hover, .Select-item-icon:focus {
    background-color: #eeeeee!important;
    color: #222222!important;
}
.Select-item:hover,.Select-item:focus{
  background-color: #eeeeee!important;
  color: #222222!important;
}
/* ~React-Select */

/* System Alerts */
.alert-notifier-container{
  width: 50%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  padding: 5;
}
.alerts-enter {
  opacity: 0.01;
}
.alerts-enter.alerts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.alerts-leave {
  opacity: 1;
}
.alerts-leave.alerts-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* ~ System Alerts */

/* System Progress Ingecator */
.progressindicator-leave.progressindicator-leave-active {
  opacity: 1;
}
.progressindicator-enter {
  opacity: 1;
}
.progressindicator-enter.progressindicator-enter-active {
  opacity: 1;
}
.progressindicator-leave {
  opacity: 1;
}
.progressindicator-leave.progressindicator-leave-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}

@keyframes progressindicator-in-progress {
  from {
    width: 0;
  }
  25% {
    width: 25%;
    animation-timing-function: ease-out;
  }
  50% {
    width: 50%;
    animation-timing-function: ease-out;
  }
  75% {
    width: 75%;
    animation-timing-function: ease-out;
  }
  to {
    width: 100%;
    animation-timing-function: ease-out;
  }
}
.system-progress-indecator {
    background-color:#2595ED;
    height:2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    animation-name: progressindicator-in-progress;
    animation-duration: 1500ms;
}
/* ~System Progress Ingecator */


/* Mapping block */
.separator {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #c3c3c3;
}

/* Plan Edit screen*/
.product-removed {
    color: #cccccc!important;
}
.product-removed small{
  color: #cccccc!important;
}
/* ~Plan Edit screen*/

/* List */
.List.row .btn-link {
    padding: 0;
}
.List .table>thead>tr>th i.sort-indicator {
    float: right;
    line-height: 20px;
}

.List .table th.long-date {
    width: 150px;
}
.List .table th.short-date {
    width: 95px;
}

.List .table th.edit-tb, .List .table td.edit-tb {
    width: 30px;
}

.List.invoices-list form {
    margin-bottom: 0;
}
/* Global page + table */
.page-header {
  border-bottom: none;
  margin: 0;
  color: #6f6f6f;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 14px;
}

.panel-heading .btn-xs{
    margin-top: -2px;
    padding: 2px 4px;
}

.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0px;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
}
/* AdvancedFilter Date picker */
.AdvancedFilter .react-datepicker__input-container{
  width: 100%
}
#page-wrapper{
  margin-bottom: -30px;
  padding-bottom: 40px;
}
#footer {
  height: 30px;
  padding: 5px 0;
  margin-left: 250px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}
#footer p{
  margin: 0;
  color: #424242;
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  cursor: "pointer";
}
.pagination span {
  line-height: 30px;
  font-size: 14px;
  float: left;
}

.movable {
    cursor: move;
}
.draggable-menu{
  background-color: #eee;
  opacity: .7;
}
