<div class="shell">
  <div class="container">
    <div class="section section-invoice-head">
      <table class="table-header">
        <tbody>
          <tr>
            <td>
              <h1>INVOICE</h1>
            </td>
            <td class="step-period">
              <table class="table-inline">
                <tbody>
                  <tr>
                    <td>Period</td>
                    <td><strong>05/01 - 05/31</strong></td>
                  </tr>
                  <tr>
                    <td>Invoice#</td>
                    <td>100183</td>
                  </tr>
                  <tr>
                    <td>Print Date</td>
                    <td>06/19/2017</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="section-info">
      <table class="table-info">
        <tbody><tr>
            <td>
              <small>to</small>
            </td>
            <td>
              <h2>David Morison</h2>
              <span class="text">
                <small>Account</small>
                <span class="text">100183</span>
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>4485 Stirling Rd , Dania , FL 33314</td>
          </tr>
          <tr>
            <td></td>
            <td>david.morison@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
