/* React-tags */
.react-tagsinput {
  padding-top: 4px;
}
.react-tagsinput-input {
  margin-bottom: 4px;
}
.react-tagsinput--focused {
  border-color: #dddddd!important;
}
.react-tagsinput-tag {
  color: #6f6f6f!important;
  background-color: #e7e7e7!important;
  border-color: #dddddd!important;
  border-radius: 0!important;
  padding: 2px 5px;
  &:hover, &:focus {
    background-color: #eeeeee!important;
    color: #222222!important;
  }
}

.react-tagsinput-remove {
  padding-right: 6px;
}
.form-group.has-error .react-tagsinput {
  border-color: red;
}
/* ~React-tags */
